<div class="modal fade" tabindex="-1" role="dialog" id="{{.Identifier}}-confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{.ConfirmTitle}}</h4>
      </div>
      <div class="modal-body">
        <p>{{.ConfirmMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger modal-confirm" id="{{.Identifier}}-confirm-button">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->